<div class="py-7 py-lg-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-12">
          <%= image_tag 'homer_error.png', class: 'd-block img-lg mt-4' %>
          <h1 class="text-danger">OPS! Algo <b>MUITO</b> Errado Aconteceu...</h1>
          <h2 class="text-lead">Você está vendo esta página porque a aplicação encontrou um erro interno.</h2>
        </div>
      </div>
    </div>
  </div>
</div>