.no-border-radius {
  border-radius: 0 !important;
}

div.field_with_errors {
  display: contents;
}

.card:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
  cursor: pointer;
}

.card.active {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  cursor: default;
}

.opacity-70 {
  opacity: 0.7;
  filter: alpha(opacity=50);
}